<article class="text--justified">
  <header class="director-header">
    <h2>Directors</h2>
    <a [routerLink]="['/addDirector']" class="action-btn">Add</a>
  </header>

  <div class="director-grid" *ngIf="directors">
    <div class="director-card" *ngFor="let director of directors.directors">
      <a [routerLink]="['/directors', director.id]">
        <img
          class="photo"
          alt="Director photo"
          src="/api/directors/{{director.id}}/photo"
        />
      </a>
      <div class="director-details">
        <div class="director-title">{{director.name}}</div>
      </div>
    </div>
  </div>

</article>
