<article>
  <header><h2>Add a new director</h2></header>

  <form class="container" #form="ngForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-4 p-2">
        <div>
          <label for="name">Name:</label>
          <input
            id="name"
            name="name"
            [(ngModel)]="newDirector.name"
            required
            placeholder="Enter director's name" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-4 p-2">
        <div>
          <label for="yearOfBirth">Year of birth:</label>
          <input
            id="yearOfBirth"
            name="yearOfBirth"
            [(ngModel)]="newDirector.yearOfBirth"
            required
            type="number"
            placeholder="Enter year of birth" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-2 p-2">
        <button type="submit">Add Director</button>
      </div>
      <div class="col-2 p-2">
        <button type="button" (click)="form.resetForm()">Reset</button>
      </div>
    </div>
  </form>
</article>
